h1 {
  color: gray;
  text-align: center;
  margin: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 3px 3px 3px rgba(0, 0, 120, 1);
  font-size: 5em;
}
.display {
  text-align: center;
}
.add-item {
  display: inline-block;
  background-color: gray;
}
.add-item:hover, input:hover {
  background-color: lightgray;
}
.add-item, .list-item {
  width: 450px;
  height: 60px;
  border: 1px solid black;

}
input {
  width: 390px;
  font-size: 22px;
  color: navy;
  text-shadow: 1px 1px 2px rgba(0, 0, 120, 1);
  font-weight:bold;
  padding-left: 10px;
  margin-top: 15px;
  border: none;
  background: transparent;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.list-item {
  text-align: left;
  margin: 0 auto;
  color: darkslategray;
  text-shadow: 1px 1px 2px rgba(0, 0, 120, .6);
  font-weight: bold;
  font-size: 22px;
  padding-top: 15px;
  padding-left: 10px;
}
.list-item:hover {
  background-color: lightgray;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}
.true {
  background-color: tan;
}
.delete {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  background: transparent;
  float:right;
  margin-right: 15px;
  margin-top: -6px;
  font-size: 24px;
  color: gray;
  transition: .3s;
}
.delete:hover {
  height: 52px;
  width: 52px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: -12px;
  font-size: 30px;
  background-color: orange;
  color: red;
  border: 4px solid red;
}
