h1 {
  color: gray;
  text-align: center;
  margin: 40px;
}
#list-items {
  text-align: center;
}
#list-items ul {
  display: inline-block;
  text-align: left;
  width: 300px
  border: 1px solid blue;
}
ul {
  list-style-type: none;
}
li {
  color: darkslategray;
  text-shadow: 1px 1px 2px rgba(0, 0, 120, .6);
  font-size: 22px;
  font-weight: bold;
  margin-left: -30px;
  padding-top: 15px;
  padding-left: 10px;
  width: 300px;
  height: 60px;
  border: 1px solid black;
}
li:hover {
  background-color: lightgray;
}
